@font-face {
  font-family: "TASAExplorer";
  src: url("./assets/typefaces/TASAExplorerVF.woff2");
}

@font-face {
  font-family: "TASAOrbiter";
  src: url("./assets/typefaces/TASAOrbiterVF.woff2");
}

:root {
  --text-normal: hsla(206, 52%, 80%, 1);
  --text-secondary: hsla(206, 35%, 55%, 1);
}

body {
  margin: 0;
  font-family: "TASAOrbiter";
  color: var(--text-normal);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#old-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.ui-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(20, 40, 55, 0.95) 0%, rgba(7, 20, 30, 0.95) 100%);
  backdrop-filter: blur(7.5px);
}

.radar {
  position: relative;
  overflow: hidden;
  transform-origin: center;
}

.radar-image {
  width: 100%;
  height: auto;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.icon-image {
  width: 100%;
  height: auto;
}

.masked-icon {
  width: 1rem;
  height: 1rem;
  background-color: var(--text-secondary);
  /* defines the background color of the image */
}

.icon-image-for-mask {
  width: 100%;
  height: auto;
  opacity: 0;
}

.players-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.players-left {
  padding-left: 0.625rem;
}

.players-right {
  padding-right: 0.625rem;
}

.player-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 20rem;
  padding: 0.625rem;
  border-radius: .5rem;
  border: 1px solid #607380;
  background: #313B42;
  box-shadow: 0px 1px 4px 0px rgba(66, 66, 66, 0.25);
}

.player-card-first-row {
  display: flex;
  justify-content: space-between;
}

.player-card-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-card-column-left {
  align-items: flex-start;
}

.player-card-column-right {
  align-items: flex-end;
}

.player-card-vitals {
  display: flex;
  gap: 0.375rem;
}

.player-card-vital {
  display: flex;
  gap: 0.125rem;
}

.player-card-name {
  font-family: "TASAExplorer";
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.player-card-money {
  color: hsla(116, 31%, 43%, 1);
}

.player-card-stats {
  display: flex;
  gap: 0.375rem;
}

.player-card-statname {
  font-family: "TASAOrbiter";
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.player-card-statvalue {
  font-variant-numeric: tabular-nums;
}

.player-card-img-primary {
  height: 32px;
  opacity: 0;
}

.player-card-img-secondary {
  height: 20px;
  opacity: 0;
}

.player-card-img-utility {
  height: 24px;
  opacity: 0;
}

.player-card-weapons-primary {
  background-color: var(--text-secondary);
  /* defines the background color of the image */
  mask: url("./assets/equipment/ak47.svg") no-repeat center / contain;
  -webkit-mask: url("./assets/equipment/ak47.svg") no-repeat center / contain;
}

.player-card-weapons-secondary {
  background-color: var(--text-secondary);
  /* defines the background color of the image */
  mask: url("./assets/equipment/usp_silencer.svg") no-repeat center / contain;
  -webkit-mask: url("./assets/equipment/usp_silencer.svg") no-repeat center / contain;
}

.player-card-weapons-utility {
  background-color: var(--text-secondary);
  /* defines the background color of the image */
  mask: url("./assets/equipment/frag_grenade.svg") no-repeat center / contain;
  -webkit-mask: url("./assets/equipment/frag_grenade.svg") no-repeat center / contain;
}

.player-card-weapon-active {
  background-color: var(--text-normal);
  /* defines the background color of the image */
}

.player-card-row-utilities {
  display: flex;
  gap: 0.375rem;
}

.radar-latency {
  display: flex;
  gap: 0.25rem;
  position: absolute;
  font-size: normal;
  right: 0.625rem;
  top: 0.625rem;
}

.player {
  width: 0.7vw;
  height: 0.7vw;
  position: absolute;
  border-radius: 100%;
  transform-origin: center;
  left: 0;
  top: 0;
  background-color: red;
}

.player-angle {
  background-color: green;
  width: 1vw;
  height: 1vw;
  border-radius: 50% 50% 50% 0%;
  transform: rotate(315deg);
  -webkit-mask: url('./assets/icons/icon-selected_png.png') no-repeat center / contain;
}