html, body
{
    margin: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radar__container
{
    position: relative;   
}

.radar__image
{
    max-width: 100vw;
    max-height: 100vh;
}

.radar__latency
{
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: normal;
    left: 3rem;
    top: 3rem;
    color: white;
}

.player
{
    width: 1vw;
    height: 1vw;
    position: absolute;
    border-radius: 100%;
    transform-origin: center;
    left: 0;
    top: 0;
}

.player__angle {
    width: 1vw;
    height: 1vw;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(315deg);
}

.player__list
{
    width: 10rem;
    height: 10rem;
    background-color: transparent;
}