html, body
{
    margin: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radar__container
{
    position: relative;   
}

.radar__image
{
    max-width: 100vw;
    max-height: 100vh;
}

.radar__latency
{
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: normal;
    left: 3rem;
    top: 3rem;
    color: white;
}

.player
{
    width: 1.2vw;
    height: 1.2vw;
    position: absolute;
    left: 0;
    top: 0;   
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.player__body {
    width: 1.2vw;
    height: 1.2vw;
    background-color: blue;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(315deg);
    align-items: center;
    display: flex;
    justify-content: center;
}
